{% extends "base.html" %}

{% block title %}Erro Interno do Servidor - StorageManagement{% endblock %}

{% block content %}
<div class="error-page-container">
    <div class="error-card">
        <div class="error-icon-wrapper red">
            <i class="fa-solid fa-triangle-exclamation"></i>
        </div>
        <h1 class="error-code">500</h1>
        <h2 class="error-title">Erro de Sistema</h2>
        <p class="error-message">{{ error or "Ocorreu um erro inesperado em nossos servidores. Por favor, tente
            novamente mais tarde." }}</p>
        <a href="{{ url_for('dashboard.index') }}" class="btn btn-primary mt-4">
            <i class="fa-solid fa-arrow-rotate-right"></i> Tentar Novamente
        </a>
    </div>
</div>
{% endblock %}